html
{
    font-size: 20px;
    font-family: "Poppins";
    background-color: #8AF3E2;
}

body
{
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid purple;
}

h1
{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: -4px 3px 1px black;
}

p,
li
{
    color: red;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.7px;
}

#img-container
{   
    position: relative;
}

div > img
{
    position: absolute;
    top: 0;
    left: 0;
}

#overlay
{
    position: relative;
    width: 225px;
    height: 225px;
}

button
{
    margin: 2% 0;
    display: block;
}

a.button-link
{
    text-decoration: none;
}

a.button-link button:hover
{
    background-color: grey;
}

a.button-link button
{
    padding: 1.5%;
    font-size: 16px;
    margin-bottom: 40%;;
}
